@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,500;1,700&display=swap");

$primary-font: "Ubuntu", sans-serif;
$primary-color: #28c347;

$complementary-color: #c42876;

// Analogous Color Pairing
$analogous-color-1: #28c372;
$analogous-color-2: #28a8c3;

// Triadic Color Pairing
$triadic-color-1: #c32828;
$triadic-color-2: #34c328;

// Monochromatic Color Pairing
$monochromatic-shade-1: #349cc3;
$monochromatic-shade-2: #28a4c3;
